@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @font-face {
  font-family: "Horizon";
  src: url("asset/font/Horizon.otf") format("opentype"),
    url("asset/font/Horizon.ttf") format("truetype"); 
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f5be49;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
input {
  font-family: "Bakbak One", cursive;
}

body,
textarea {
  font-family: "Times New Roman", Times, serif;
}

input::placeholder,
textarea::placeholder {
  color: #999;
  font-style: italic;
  font-family: "Bakbak One", cursive;
  font-size: 15px;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 1px;
  align-items: center;
}

nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create {
  height: 50px;
}

nav > h1 {
  font-size: 32px;
  letter-spacing: 2px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px auto;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.logo {
  height: 22rem;
  width: 24rem;
}

.logo > img {
  height: 100%;
  width: 100%;
}

.container {
  padding: 20px 160px;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 120px;

  place-items: center;
}

.blog-item {
  border: 4px solid #000;
  border-radius: 10px;
  max-width: 500px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  box-shadow: 12px 12px 0px rgb(39, 39, 39);
  height: 100%;
  cursor: pointer;
}
.blog-item:hover {
  box-shadow: 12px 12px 0px rgb(245, 190, 73);
}

.blog-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.blog-body {
  margin-bottom: 20px;
  text-transform: capitalize;
}

footer {
  padding: 80px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  font-weight: 500;
  text-align: center;
}

.create_post {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

form {
  background-color: white;
  width: 600px;
  padding: 30px;
}

form > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form > .inputs {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 40px;
}

.input {
  padding: 20px 15px;
  border: 2px solid #000;
  outline: none;
  font-size: 15px;
  resize: none;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

.close,
.add {
  height: 35px;
  width: 35px;
}

@media (max-width: 1312px) {
  .blog-list {
    gap: 50px;
  }
  .container {
    padding: 20px 80px;
  }
}
@media (max-width: 600px) {
  .logo {
    height: 20rem;
    width: 22rem;
  }
  nav > h1 {
    font-size: 30px;
  }
  .container {
    padding: 20px 40px;
  }
}
@media (max-width: 470px) {
  .logo {
    height: 17rem;
    width: 20rem;
  }
  nav {
    padding: 20px;
  }

  nav > h1 {
    font-size: 25px;
    letter-spacing: 0;
  }
  .container {
    padding: 20px;
  }
  form {
    padding: 15px;
  }
}
